<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780820547607-0qpvadi86kaahhjvhii3qok3ngctg6i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780820547607-0qpvadi86kaahhjvhii3qok3ngctg6i1</string>
	<key>API_KEY</key>
	<string>AIzaSyDqu5923Eu0Z0YrmwWkeIBvV_qcNppfefA</string>
	<key>GCM_SENDER_ID</key>
	<string>780820547607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weschua.KeensCashier</string>
	<key>PROJECT_ID</key>
	<string>keen-s-bakerly</string>
	<key>STORAGE_BUCKET</key>
	<string>keen-s-bakerly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780820547607:ios:3a717d9874b7e8e7073452</string>
</dict>
</plist>